<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="pragma" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" type="image/png" href="/favicon.png" id="favicon" data-original-href="/favicon.png">
  <link rel="stylesheet" media="all" href="/web.css">
  <title>
    <%= typeof title !== 'undefined' ? title : 'gitlab'%>
  </title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
